a,a:hover{color:#fff
	}
a .text-white{
	color: #000ç
}
.fh5co_header_bg{
	background:#222;
	color:#fff
	}
.color_fff{
	color:#fff !important
	}
.treding_btn{
	background:#8f7e54;
	color:#fff;
	margin:0 10px;
	display:inline-block;
	padding:15px 40px
	}
.treding_btn:hover,
.treding_btn:focus{
	background:#8f7e54;
	color:#fff;
	margin:0 10px;
	display:inline-block;
	padding:15px 40px
	}
.fh5co_trading_posotion_relative{
	position:relative
	}
.fh5co_treding_position_absolute{
	-webkit-clip-path:polygon(0 1%, 100% 0, 0 100%, 0% 100%);
	-moz-clip-path:polygon(0 1%, 100% 0, 0 100%, 0% 100%);
	-ms-clip-path:polygon(0 1%, 100% 0, 0 100%, 0% 100%);
	clip-path:polygon(0 1%, 100% 0, 0 100%, 0% 100%);
	height:20px;width:20px;background:#8f7e54;position:absolute;
	left:9px
	}
.fh5co_logo_width{
	width:180px
	}
.fh5co_mediya_right{
	text-align:right
	}
.fh5co_display_table{
	height:40px;
	width:40px;
	display:table;
	color:#777;
	font-size:18px;
	border:1px solid #fff !important;
	cursor:pointer;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	transition:1s;
	margin:0 10px;
	color:#777 !important
	}
.fh5co_display_table:hover,
.fh5co_display_table:focus{
	display:table;
	color:#777;
	border:1px solid #8f7e54 !important;
	cursor:pointer;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%
	}
.fh5co_verticle_middle{
	vertical-align:middle;
	display:table-cell
	}
.fh5co_country_width{
	width:40px;
	margin:0 10px;
	padding-bottom:25px
	}
.fh5co_text_select_option{
	margin:0 10px;
	position:relative;
	top:-10px
	}
.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active{
	color:#fff !important;
	padding-top:12px !important;
	padding-bottom:15px !important;
	padding-left:20px !important;
	padding-right:20px !important;
	margin:0 20px !important;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
	/*background:#8f7e54 !important;
	-webkit-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	-moz-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	-ms-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0)*/
	}
.navbar-light .navbar-nav .nav-link{
	color:#fff !important;
	padding-top:12px !important;
	padding-bottom:15px !important;
	padding-left:20px !important;
	padding-right:20px !important;
	margin:0 20px !important;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
	position:relative !important;
	/*-webkit-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	-moz-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	-ms-clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0);
	clip-path:polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0)*/
	}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	background:#8f7e54 !important;
	color:#fff !important;
	padding-top:12px !important;
	padding-bottom:15px !important;
	padding-left:20px !important;
	padding-right:20px !important;
	margin:0 20px;position:relative
	}

/*botaodo whatsapp*/

button{
	cursor: pointer;
	color: #8f7e54;
}

/*textos dos links da HOME*/

.text_home_1{
	text-align: center;
}

.fh5co_padding_menu{
	padding:20px 0
	}
.mobile_logo_width{
	display:none
	}
.fh5co_padd_mediya{
	padding-top:10px
	}
.fh5co_suceefh5co_height{
	height:550px;
	overflow:hidden;
	width:100%;
	position:relative
	}
.fh5co_suceefh5co_height>img{
	height:560px;
	width:100%
	}
.paddding{
	padding-left:0 !important;
	padding-right:0 !important
	}
	
.fh5co_suceefh5co_height_position_absolute{
	position:absolute;
	width:100%;
	height:100%;
	background:-moz-linear-gradient(top, transparent 0%, transparent 1%, rgba(0,0,0,0.78) 100%);
	background:-webkit-linear-gradient(top, transparent 0%, transparent 1%, rgba(0,0,0,0.78) 100%);
	background:linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0,0,0,0.78) 100%);
	z-index:5;top:0
	}
.fh5co_suceefh5co_height_position_absolute_font{
	position:absolute;
	width:100%;height:100%;
	color:#fff;
	z-index:7;
	top:75%;
	/*left:5%;*/
	padding:0 10px
	}
.fh5co_good_font{
	color:#fff;
	font-size:26px;
	word-wrap:break-word
	}
.fh5co_good_font:hover,
.fh5co_good_font:focus{
	color:#fff;
	word-wrap:break-word;
	text-decoration:none}
.fh5co_suceefh5co_height_2{
	height:275px;
	overflow:hidden;width:100%;
	position:relative
	}
.fh5co_suceefh5co_height_2>img{
	height:300px;width:100%
	}
.fh5co_good_font_2{
	font-size:19px;
	color:#fff;
	word-wrap:break-word;
	text-decoration:none
	}
.fh5co_good_font_2:hover,
.fh5co_good_font_2:focus{
	color:#fff;
	word-wrap:break-word;
	text-decoration:none
	}
.fh5co_suceefh5co_height_position_absolute_font_2{position:absolute;width:100%;height:100%;color:#fff;z-index:7;top:65%;left:5%;padding:0 10px}.fh5co_heading{font-size:20px;color:#424040}.fh5co_heading_border_bottom{border-bottom:1px solid #777}.fh5co_latest_trading_img{height:326px;overflow:hidden}.fh5co_latest_trading_img>img{height:340px;min-width:100%}.fh5co_img_special_relative{position:relative;right:40%}.fh5co_latest_trading_img_position_relative{position:relative;overflow:hidden;z-index:5;cursor:pointer}.fh5co_latest_trading_img_position_absolute{position:absolute;height:100%;width:100%;top:0;right:0;background:-moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);background:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);z-index:7}.fh5co_latest_trading_img_position_absolute_1{position:absolute;width:100%;z-index:9;padding:10px;bottom:0}.fh5co_latest_trading_date_and_name_color{color:rgba(255,255,255,0.7);font-size:13px}.fh5co_latest_trading_img_position_relative:hover{-webkit-animation:swing1 1s ease;animation:swing1 1s ease;-webkit-animation-iteration-count:1;animation-iteration-count:1}@-webkit-keyframes swing1{15%{-webkit-transform:translateX(5px);transform:translateX(5px)}30%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}50%{-webkit-transform:translateX(3px);transform:translateX(3px)}65%{-webkit-transform:translateX(-3px);transform:translateX(-3px)}80%{-webkit-transform:translateX(2px);transform:translateX(2px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes swing1{15%{-webkit-transform:translateX(5px);transform:translateX(5px)}30%{-webkit-transform:translateX(-5px);transform:translateX(-5px)}50%{-webkit-transform:translateX(3px);transform:translateX(3px)}65%{-webkit-transform:translateX(-3px);transform:translateX(-3px)}80%{-webkit-transform:translateX(2px);transform:translateX(2px)}100%{-webkit-transform:translateX(0);transform:translateX(0)}}.fh5co_news_img{height:200px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;overflow:hidden;top:0;-webkit-box-shadow:inset 0 2px 3px 1px;-moz-box-shadow:inset 0 2px 3px 1px;-o-box-shadow:inset 0 2px 3px 1px;box-shadow:inset 0 2px 3px 1px;-moz-transition:all all 0.5s ease;-o-transition:all all 0.5s ease;-webkit-transition:all all 0.5s ease;-ms-transition:all all 0.5s ease;transition:all all 0.5s ease}.fh5co_news_img>img{height:260px;min-width:100%}.c_b{color:#424040}.c_g{color:#777}.c_m{color:#8f7e54}.fh5co_small_post_heading{font-size:17px;color:#424040;-moz-transition:all all 0.5s ease;-o-transition:all all 0.5s ease;-webkit-transition:all all 0.5s ease;-ms-transition:all all 0.5s ease;transition:all all 0.5s ease}.fh5co_small_post_heading:hover{color:#777;text-decoration:none}.fh5co_hover_news_img:hover>.fh5co_news_img{top:-7px;-webkit-box-shadow:inset 0 2px 3px 1px;-moz-box-shadow:inset 0 2px 3px 1px;-o-box-shadow:inset 0 2px 3px 1px;box-shadow:inset 0 2px 3px 1px}.fh5co_video_news_bg{background-image:url(../images/video-news-bg.jpg);background-size:cover}.fh5co_small_post_heading_1{color:#fff}.fh5co_hover_news_img_video_tag_position_relative{position:relative;overflow:hidden;z-index:18}.fh5co_hover_news_img_video_tag_position_absolute{height:100%;width:100%;position:absolute;top:0;right:0;z-index:20}.fh5co_hover_news_img_video_tag_position_absolute>img{height:130%;min-width:100%}.fh5co_hover_news_img_video_tag_position_absolute_1{position:absolute;z-index:22;cursor:pointer;top:33%;right:40%;opacity:0.7;-moz-transition:all all 0.5s ease;-o-transition:all all 0.5s ease;-webkit-transition:all all 0.5s ease;-ms-transition:all all 0.5s ease;transition:all all 0.5s ease}.fh5co_hover_news_img_video_tag_position_absolute_1:hover{opacity:1}.fh5co_hover_news_img_video_tag_position_absolute_1_play_button{height:60px;width:60px;background-color:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;display:table;text-align:center;position:relative;z-index:5}.fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1{position:relative;display:inline-block}.fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1:before{position:absolute;content:'';height:120%;width:120%;background-color:#8f7e54;z-index:-1;top:-10%;right:-10%;opacity:0.5;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}.fh5co_hover_news_img_video_tag_position_absolute_1_play_button>span{display:table-cell;vertical-align:middle;line-height:0px !important}.fh5co_magna{font-size:16px;color:#222 !important;font-weight:800}.fh5co_mini_time{font-size:14px;color:#222;display:inline-block}.fh5co_consectetur{font-size:14px;color:#777}.fh5co_gaming_topikk{margin:0 !important;padding-left:12px}.fh5co_gaming_topikk>li{color:#777;padding:5px 0}.fh5co_tagg{background:#f1f1f1;padding:10px 15px;color:#222;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease;margin-right:8px;margin-top:5px;margin-bottom:5px;display:inline-block}.fh5co_tagg:hover,.fh5co_tagg:focus{background:#8f7e54;color:#fff;text-decoration:none}.fh5co_most_trading{height:60px;width:100%}.most_fh5co_treding_font_123{font-size:12px;color:#777}.btn_mange_pagging{background:#f1f1f1;padding:12px 20px;color:#222 !important;font-weight:800;margin:0 10px;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}.btn_pagging{background:#f1f1f1 !important;color:#222;padding:12px 20px !important;font-weight:800;margin:0 10px;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}.btn_mange_pagging:hover,.btn_mange_pagging:focus{background:#222;color:#fff !important;font-weight:800}.btn_pagging:hover,.btn_pagging:focus{background:#222 !important;color:#fff}.fh5co_footer_bg{background:#222;color:#fff;/*-webkit-clip-path:polygon(0 17%, 100% 0, 100% 100%, 0% 100%); clip-path:polygon(0 17%, 100% 0, 100% 100%, 0% 100%)*/}.footer_logo{width:140px}.footer_main_title{color:#fff;font-weight:800;font-size:18px}.footer_sub_about{color:#C9C8C8;font-size:14px}.fh5co_display_table_footer{height:40px;width:40px;display:table;color:#777;font-size:18px;border:1px solid #222 !important;cursor:pointer;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-moz-transition:all 1s ease;-o-transition:all 1s ease;-webkit-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;margin-right:10px;color:#777 !important}.fh5co_display_table_footer:hover,.fh5co_display_table_footer:focus{display:table;color:#777;border:1px solid #8f7e54 !important;cursor:pointer;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}.footer_menu{list-style:none;padding:0}.footer_menu li>a{color:#fff !important;padding:8px 0 !important;display:-webkit-box;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}.footer_menu li>a:hover,.footer_menu li>a:focus{color:#8f7e54 !important;padding:8px 0 !important;display:-webkit-box;margin-left:5px}.footer_post{color:#fff;display:-webkit-box}.footer_makes_sub_font{font-size:12px;color:#777}.position_footer_relative{position:relative}.footer_position_absolute{position:absolute;top:60px;left:-5px}.footer_img_post_6{height:50px;width:94px;overflow:hidden;margin:10px 10px;display:inline-block}.footer_img_post_6>img{width:94px;height:50px}.fh5co_footer_text_box{background:none !important;border-bottom:2px solid #fff !important;border-top:0px solid #fff !important;border-top:0px solid #fff !important;border-top:0px solid #fff !important;box-shadow:none !important;color:#fff !important}.fh5co_footer_text_box:focus{border-color:#8f7e54}.fh5co_footer_subcribe{background:#8f7e54 !important;border-bottom:2px solid #fff !important;border-top:0px solid #fff !important;border-top:0px solid #fff !important;border-top:0px solid #fff !important;box-shadow:none !important;color:#fff !important;display:-webkit-box !important}.fh5co_footer_right_reserved{background:#000 !important;color:#fff !important}.footer_last_part_menu{color:#fff !important;padding:0 10px}.spdp_right{text-align:center}#fh5co_contact_form input:focus,#fh5co_contact_form textarea:focus{border-color:#8f7e54}.contact_us_bg_img{background:url(../images/photo-1449157291145-7efd050a4d0e-578x362.jpg);padding:100px 0;background-size:cover}.fh5co_con{font-size:24px;color:#fff;font-weight:800;text-decoration:none;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}.fh5co_con:hover,.fh5co_con:focus{text-decoration:none;font-size:24px;color:#8f7e54;font-weight:800}.fh5co_con_123{border:1px solid #fff !important;color:#fff !important;font-size:24px !important;padding:10px 15px;margin:0 20px;-moz-transition:all .5s ease;-o-transition:all .5s ease;-webkit-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}.fh5co_con_123:hover,.fh5co_con_123:focus{border:1px solid #fff !important;color:#fff !important;font-size:24px !important;background:#8f7e54;padding:10px 15px;margin:0 20px}.fh5co_heading{font-size:24px;color:#222}
.fh5co_contact_us_no_icon_div{
	height:50px;
	width:50px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	border:2px solid #222;
	display:table;
	text-align:center;
	font-size:20px;
	color:#222;
	-moz-transition:all all 0.5s ease;
	-o-transition:all all 0.5s ease;
	-webkit-transition:all all 0.5s ease;
	-ms-transition:all all 0.5s ease;
	transition:all all 0.5s ease
	}
.fh5co_contact_us_no_icon_div>span{
	display:table-cell;
	vertical-align:middle;
	line-height:0
	}
.fh5co_contact_us_no_text{
	font-size:16px
	}
.fh5co_contact_us_no_icon_difh5co_hover:hover>
.fh5co_contact_us_no_icon_difh5co_hover_1>
.fh5co_contact_us_no_icon_div{
	color:#8f7e54 !important;
	cursor:pointer;
	border:2px solid #8f7e54 !important
	}
.fh5co_contact_us_no_icon_difh5co_hover_2{
	padding-left:0 !important;
	padding-right:0 !important
	}
.fh5co_contact_us_form_bg{
	background-size:cover;
	padding-top:5%
	}
.fh5co_contact_us_text_box_form_bg{
	background-color:#fff;
	padding:4% 0
	}
.fh5co_contact_us_text_box{
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	-ms-border-radius:0px !important;
	border-radius:0px !important;
	border:1px solid #777 !important;
	font-size:14px !important
	}
.fh5co_contact_us_text_area{
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	-ms-border-radius:0px !important;
	border-radius:0px !important;
	border:1px solid #777 !important;
	font-size:14px !important;
	height:100px;resize:none
	}
.fh5co_blue_button{
	background-color:#7ab8d4;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	-ms-border-radius:0px !important;
	border-radius:0px !important;
	color:#fff;
	font-family:'Baloo Paaji';cursor:pointer
	}
.fh5co_blue_button:hover{
	background-color:#454545;
	color:#fff
	}
.fh5co_contact_us_team_img{
	height:350px;overflow:hidden
	}
.s_textbox_name{
	background:#c7c7c7 !important;
	border:0 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	-ms-border-radius:0 !important;
	border-radius:0 !important;
	font-size:14px !important;
	letter-spacing:1px !important
	}
.fh5co_fh5co_bg_contcat{
	background:#f1f1f1
	}
.fh5co_p_font_size{
	font-size:14px
	}
.fh5co_contact_text_box{
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	-ms-border-radius:0 !important;
	border-radius:0 !important;
	font-size:15px !important;
	height:45px !important;
	letter-spacing:1px !important
	}
.fh5co_contacts_message{
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	-ms-border-radius:0 !important;
	border-radius:0 !important;
	height:150px;
	resize:none;
	padding-top:20px !important;
	letter-spacing:1px !important
	}
.contact_btn{
	background:#8f7e54 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	-ms-border-radius:0 !important;
	border-radius:0 !important;
	color:#fff !important;
	padding:10px 50px !important
	}
.contact_btn:hover,
.contact_btn:focus{
	background:none !important;
	border:1px solid #8f7e54 !important;
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	-ms-border-radius:0 !important;
	border-radius:0 !important;
	color:#8f7e54 !important;
	padding:10px 50px !important
	}
.map_sss{
	height:350px !important;
	width:100% !important;
	border:0 !important;
	frameborder:0 !important
	}
.contact_margin_svnit{
	margin:20px 0 !important
	}
.goog-te-combo{
	padding:10px 5px !important
	}
.goog-logo-link{
	display:none !important
	}
.fh5co_language_chnage{
	position:relative;
	top:15px
	}
.dd_position_relative{
	position:relative
	}
.dd_box{
	height:20px;
	width:150px;
	background:#fff;
	position:absolute
	}
.gototop{
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:999;
	opacity:0;
	visibility:hidden;
	-moz-transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease
	}
.gototop.active{
	opacity:1;
	visibility:visible
	}
.gototop a{
	width:50px;
	height:50px;
	display:table;
	background:rgba(0,0,0,0.5);
	color:white;text-align:center;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px
	}
.gototop a i{
	height:50px;
	display:table-cell;
	vertical-align:middle
	}
.gototop a:hover,
.gototop a:active,
.gototop a:focus{
	text-decoration:none;
	outline:none
	}
.js .animate-box{
	opacity:0
	}
#fh5co-title-box{
	width:38.2%;
	z-index:555;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center
	}
.single #fh5co-title-box{
	position:relative;
	height:700px;
	width:100%
	}

	/*whatsapp footer*/

	.whatsapp_footer{
		width: 50px;
		height: 50px;
	}
#fh5co-title-box .overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:10;
	background:rgba(0,0,0,0.5)
	}
#fh5co-title-box .page-title{
	z-index:12;
	position:absolute;
	bottom:0;
	padding:30px
	}
.single #fh5co-title-box .page-title{
	width:100%;
	margin:0 auto;
	text-align:center
	}
#fh5co-title-box .page-title h2{
	color:white;
	font-weight:300
	}
.single #fh5co-title-box .page-title h2{
	font-size:72px
	}
#fh5co-title-box .page-title>span{
	display:block;
	color:rgba(255,255,255,0.5);
	text-transform:uppercase;
	font-size:15px;
	letter-spacing:.05em;
	margin-bottom:10px
	}
#fh5co-title-box .page-title img{
	margin-bottom:30px;
	width:80px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%
	}
#fh5co-single-content{
	z-index:999;
	background:white
	}
#fh5co-single-content p,
#fh5co-single-content ul li{
	text-align: justify;
	font-size:1.05rem
	}
/*# sourceMappingURL=style_1.css.map */


/*style css2*/


.fh5co-nav ul li.has-dropdown .dropdown li {
	display: block;
	margin-bottom: 7px;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li:last-child {
	margin-bottom: 0;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li a {
	padding: 2px 0;
	display: block;
	color: #999999;
	line-height: 1.2;
	text-transform: none;
	font-size: 13px;
	letter-spacing: 0;
  }
  .fh5co-nav ul li.has-dropdown .dropdown li a:hover {
	color: #fff;
  }
  .fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
	color: #000;
  }
  .fh5co-nav ul li.btn-cta a {
	padding: 30px 0px !important;
	color: #fff;
  }
  .fh5co-nav ul li.btn-cta a span {
	background: #2d6cdf;
	padding: 4px 10px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	display: inline;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	/*-webkit-border-radius: 1;
	-moz-border-radius: 1;
	-ms-border-radius: 1;
	border-radius: 1;*/
  }
  .fh5co-nav ul li.btn-cta a:hover span {
	-webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  }
  .fh5co-nav ul li.active > a {
	font-weight: 400;
  }
  
  #fh5co-hero {
	/*margin-top: 78px;*/
	min-height: 630px;
	height: 630px;
	background: #fff url(../images/loader.gif) no-repeat center center;
  }
  #fh5co-hero .btn {
	font-size: 24px;
  }
  #fh5co-hero .btn.btn-primary {
	padding: 14px 30px !important;
  }
  #fh5co-hero .flexslider {
	border: none;
	z-index: 1;
	margin-bottom: 0;
  }
  #fh5co-hero .flexslider .slides {
	position: relative;
	overflow: hidden;
  }
  #fh5co-hero .flexslider .slides li {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	min-height: 630px;
	height: 630px;
	position: relative;
  }
  #fh5co-hero .flexslider .slides li:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
  }
  #fh5co-hero .flexslider .flex-control-nav {
	bottom: 40px;
	z-index: 1000;
  }
  #fh5co-hero .flexslider .flex-control-nav li a {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: none;
	width: 12px;
	height: 12px;
	cursor: pointer;
  }
  #fh5co-hero .flexslider .flex-control-nav li a.flex-active {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.7);
  }
  #fh5co-hero .flexslider .flex-direction-nav {
	display: none;
  }
  #fh5co-hero .flexslider .slider-text {
	display: table;
	opacity: 0;
	min-height: 630px;
	height: 630px;
	z-index: 9;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner {
	display: table-cell;
	vertical-align: middle;
	min-height: 700px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h1, #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
	margin: 0;
	padding: 0;
	color: white;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 1.3;
	font-weight: 300;
  }
  @media screen and (max-width: 768px) {
	#fh5co-hero .flexslider .slider-text > .slider-text-inner h1 {
	  font-size: 30px;
	}
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 30px;
	font-family: "Source Sans Pro", Arial, sans-serif;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 a {
	color: rgba(255, 255, 255, 0.5);
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
	padding: 18px 30px !important;
	color: #fff;
	border: none !important;
	font-size: 12px;
	/*font-weight: 700;*/
	text-transform: uppercase;
	letter-spacing: 1px;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
	background: #8f7e54 !important;
	/*-webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
	-moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
	box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;*/
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
	font-size: 20px;
	color: #fff;
  }
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
	color: #d9534f;
  }
  
  .fh5co-bg-section {
	background: #e8e8e8;
  }
  
  #fh5co-course-categories,
  #fh5co-counter,
  #fh5co-course,
  #fh5co-register,
  #fh5co-pricing,
  #fh5co-testimonial,
  #fh5co-blog,
  #fh5co-about,
  #fh5co-staff,
  #fh5co-contact {
	padding: 7em 0;
	clear: both;
  }
  
  
  .services {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  .services h3 {
	font-size: 18px;
	font-weight: 400;
  }
  .services h3 a {
	color: #000;
  }
  .services .icon {
	width: 90px;
	height: 90px;
	background: rgba(0, 0, 0, 0.04);
	display: table;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  @media screen and (max-width: 992px) {
	.services .icon {
	  margin: 0 auto 30px auto;
	}
  }
  .services .icon i {
	vertical-align: middle;
	font-size: 45px;
	line-height: 100px;
	color: #000;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  /*.services:hover .icon, .services:focus .icon {
	background: #2D6CDF;
  }
  .services:hover .icon i, .services:focus .icon i {
	color: #fff;
  }*/
  
  .fh5co-counters {
	padding: 7em 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	position: relative;
  }
  .fh5co-counters .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background: rgba(0, 0, 0, 0.5);
  }
  .fh5co-counters .counter-wrap {
	border: 1px solid red !important;
  }
  .fh5co-counters .fh5co-counter {
	font-size: 44px;
	display: block;
	color: white;
	font-family: "Roboto Slab", serif;
	width: 100%;
	font-weight: 400;
	margin-bottom: .1em;
  }
  .fh5co-counters .fh5co-counter-label {
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	margin-bottom: 2em;
	display: block;
	font-family: "Roboto Slab", serif;
  }
  .fh5co-counters .icon i {
	font-size: 45px;
	color: #fff;
  }
  
  .course {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	margin-bottom: 30px;
  }
  .course .desc, .course .course-img {
	width: 50%;
	display: inline-block;
  }
  @media screen and (max-width: 768px) {
	.course .desc, .course .course-img {
	  width: 100%;
	}
  }
  .course .course-img {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  @media screen and (max-width: 768px) {
	.course .course-img {
	  height: 270px;
	}
  }
  .course .desc {
	padding: 1.7em;
	background: #fafafa;
  }
  .course .desc h3 {
	font-size: 18px;
	font-weight: 400;
  }
  .course .desc h3 a {
	color: #000;
  }
  .course .desc .date {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
  }
  .course .desc .btn-course {
	/*border: 2px solid rgba(0, 0, 0, 0.8) !important;*/
	background-color: #303030;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 11px 15px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	/*border-radius: 0;*/
  }
  .course .desc .btn-course:hover {
	background-color: 8f7e54;
  }
  /*.course:hover .course-img {
	-webkit-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
	-moz-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
	box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
  }*/
  
  .fh5co-social-icons {
	margin: 0;
	padding: 0;
  }
  .fh5co-social-icons li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
  }
  .fh5co-social-icons li a {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #2D6CDF;
	padding-left: 10px;
	padding-right: 10px;
  }
  .fh5co-social-icons li a i {
	font-size: 20px;
  }
  
  .fh5co-contact-info ul {
	padding: 0;
	margin: 0;
  }
  .fh5co-contact-info ul li {
	padding: 0 0 0 40px;
	margin: 0 0 30px 0;
	list-style: none;
	position: relative;
	color: rgba(0, 0, 0, 0.8);
  }
  .fh5co-contact-info ul li:before {
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0;
	top: .05em;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .fh5co-contact-info ul li.address:before {
	font-size: 30px;
	content: "\e9dc";
  }
  .fh5co-contact-info ul li.phone:before {
	font-size: 23px;
	content: "\ea3b";
  }
  .fh5co-contact-info ul li.email:before {
	font-size: 23px;
	content: "\e91e";
  }
  .fh5co-contact-info ul li.url:before {
	font-size: 23px;
	content: "\e9df";
  }
  .fh5co-contact-info ul li a {
	color: rgba(0, 0, 0, 0.8);
  }
  
  .fh5co-heading {
	margin-bottom: 5em;
  }
  .fh5co-heading h2 {
	font-size: 24px;
	margin-bottom: 20px;
	line-height: 1.5;
	color: #000;
	text-transform: uppercase;
	position: relative;
  }
  .fh5co-heading h2:after {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	width: 50px;
	height: 1px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.08);
  }
  .fh5co-heading p {
	font-size: 14px;
  }
  
  #fh5co-testimonial {
	position: relative;
	background-image: url(images/img_002.jpg);}
  #fh5co-testimonial .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	background: rgba(31, 95, 139, 0.7);
  }
  #fh5co-testimonial .testimony-slide {
	text-align: center;
	position: relative;
	color: #fff !important;
  }
  #fh5co-testimonial .testimony-slide span {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: block;
  }
  #fh5co-testimonial .testimony-slide span small {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
  }
  #fh5co-testimonial .testimony-slide .user {
	display: block;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  #fh5co-testimonial .testimony-slide blockquote {
	border: none;
	margin: 30px auto;
	width: 70%;
	position: relative;
	padding: 0;
  }
  @media screen and (max-width: 768px) {
	#fh5co-testimonial .testimony-slide blockquote {
	  width: 85%;
	}
  }
  #fh5co-testimonial .arrow-thumb {
	position: absolute;
	top: 40%;
	display: block;
	width: 100%;
  }
  #fh5co-testimonial .arrow-thumb a {
	font-size: 32px;
	color: #dadada;
  }
  #fh5co-testimonial .arrow-thumb a:hover, #fh5co-testimonial .arrow-thumb a:focus, #fh5co-testimonial .arrow-thumb a:active {
	text-decoration: none;
  }
  #fh5co-testimonial .owl-theme .owl-dots .owl-dot span {
	background: rgba(255, 255, 255, 0.3) !important;
  }
  #fh5co-testimonial .owl-theme .owl-dots .active span {
	background: white !important;
  }
  #fh5co-testimonial .fh5co-heading {
	margin-bottom: 3em;
  }
  #fh5co-testimonial .fh5co-heading h2 {
	color: #fff;
	margin-bottom: 20px !important;
  }
  #fh5co-testimonial .fh5co-heading h2:after {
	background: transparent !important;
  }
  #fh5co-testimonial .fh5co-heading p {
	color: rgba(255, 255, 255, 0.5);
  }
  #fh5co-testimonial .fh5co-heading span {
	padding: 7px 15px;
	position: relative;
  }
  #fh5co-testimonial .fh5co-heading span:before {
	position: absolute;
	top: 24px;
	left: -40px;
	content: '';
	width: 40px;
	height: 1px;
	background: white;
  }
  #fh5co-testimonial .fh5co-heading span:after {
	position: absolute;
	top: 24px;
	right: -40px;
	content: '';
	width: 40px;
	height: 1px;
	background: white;
  }
  
  .wrap-price {
	padding: 2em 4em;
  }
  
  .pricing__feature-list {
	width: 100%;
	float: left;
  }
  .pricing__feature-list li {
	margin-bottom: 10px;
  }
  
  .pricing__item {
	width: 100%;
	float: left;
	clear: both;
  }
  @media screen and (max-width: 768px) {
	.pricing__item {
	  margin-bottom: 30px;
	}
  }
  
  .fh5co-event {
	position: relative;
	padding-left: 120px;
	width: 100%;
	float: left;
	margin-bottom: 30px;
  }
  .fh5co-event .date {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: rgba(0, 0, 0, 0.03);
	display: table;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  .fh5co-event .date span {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
  }
  .fh5co-event h3 {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
  }
  .fh5co-event h3 a {
	color: black;
  }
  a.text-white
  .fh5co-blog {
	margin-bottom: 30px;
	width: 100%;
	float: left;
  }
  @media screen and (max-width: 768px) {
	.fh5co-blog {
	  width: 100%;
	}
  }
  .fh5co-blog .blog-img-holder {
	display: block;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	height: 270px;
  }
  .fh5co-blog .blog-text {
	position: relative;
	background: rgba(0, 0, 0, 0.03);
	width: 100%;
	padding: 30px;
	float: left;
  }
  .fh5co-blog .blog-text span {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 20px;
  }
  .fh5co-blog .blog-text span.comment {
	float: right;
  }
  .fh5co-blog .blog-text span.comment a {
	color: rgba(0, 0, 0, 0.3);
  }
  .fh5co-blog .blog-text span.comment a i {
	padding-left: 7px;
  }
  .fh5co-blog .blog-text h3 {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
  }
  .fh5co-blog .blog-text h3 a {
	color: black;
  }
  .fh5co-blog .blog-text .btn-blog {
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.8);
	color: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
  }
  .fh5co-blog .blog-text .btn-blog:hover {
	color: #fff !important;
  }
  
  #fh5co-register {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
  }
  #fh5co-register .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: rgba(0, 0, 0, 0.5);
  }
  #fh5co-register h2, #fh5co-register h3, #fh5co-register p {
	color: #fff;
  }
  #fh5co-register .btn-reg {
	background: transparent;
	border: 2px solid #fff;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
  }
  
  .simply-countdown {
	/* The countdown */
	margin-top: 3em;
	margin-bottom: 3em;
  }
  
  .simply-countdown > .simply-section {
	/* coutndown blocks */
	display: inline-block;
	width: 120px;
	height: 120px;
	background: rgba(0, 0, 0, 0.2);
	margin: 0 5px;
	position: relative;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
  }
  
  .simply-countdown > .simply-section > div {
	/* countdown block inner div */
	display: table-cell;
	vertical-align: middle;
	height: 115px;
	width: 120px;
  }
  
  .simply-countdown > .simply-section .simply-amount,
  .simply-countdown > .simply-section .simply-word {
	display: block;
	color: white;
	/* amounts and words */
  }
  
  .simply-countdown > .simply-section .simply-amount {
	font-size: 40px;
	/* amounts */
  }
  
  .simply-countdown > .simply-section .simply-word {
	color: rgba(255, 255, 255, 0.9);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	/* words */
  }
  
  .staff {
	width: 100%;
	float: left;
	display: block;
	margin-bottom: 40px;
  }
  .staff .staff-img {
	width: 100%;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
	margin-bottom: 20px;
	display: table;
  }
  .staff .staff-img:before {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: rgba(255, 255, 255, 0.9);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  .staff .staff-img .fh5co-social {
	opacity: 0;
	display: table-cell;
	vertical-align: middle;
	height: 300px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
  }
  .staff .staff-img .fh5co-social li {
	display: inline-block;
	padding: 0 7px;
  }
  .staff h3 {
	font-size: 18px;
  }
  .staff h3 a {
	color: #000;
  }
  .staff span {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
  }
  /*opacidade serviços e cursos hover*/
  .staff:hover .staff-img:before {
	opacity: 0.3;
  }
  .staff:hover .staff-img .fh5co-social {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  
  #fh5co-gallery {
	padding-top: 2.5em;
  }
  #fh5co-gallery h2 {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 2.5em;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
  }
  #fh5co-gallery h2 span {
	border: 2px solid rgba(0, 0, 0, 0.8);
	padding: 10px 15px;
	position: relative;
  }
  #fh5co-gallery h2 span:before, #fh5co-gallery h2 span:after {
	position: absolute;
	top: 18px;
	bottom: 0;
	content: '';
	width: 100px;
	height: 1px;
	background: rgba(0, 0, 0, 0.1);
  }
  #fh5co-gallery h2 span:before {
	lett: 0;
	margin-left: -125px;
  }
  #fh5co-gallery h2 span:after {
	right: 0;
	margin-right: -110px;
  }
  
  .gallery {
	display: block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
  }
  .gallery:hover {
	-webkit-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
	-moz-box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
	box-shadow: inset 0px 0px 124px 11px rgba(0, 0, 0, 0.74);
  }
  
  @media screen and (max-width: 768px) {
	#map {
	  height: 200px;
	}
  }
  
  #fh5co-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 270px;
	background: #000;
	opacity: 0.9;
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 75px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	-moz-transform: translateX(270px);
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
  }
  @media screen and (max-width: 768px) {
	#fh5co-offcanvas {
	  display: block;
	}
  }
  .offcanvas #fh5co-offcanvas {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
  }
  #fh5co-offcanvas a {
	color: rgba(255, 255, 255, 0.5);
	line-height: 3.0;
  }
  #fh5co-offcanvas a:hover {
	color: rgba(255, 255, 255, 0.8);
  }
  #fh5co-offcanvas ul {
	padding: 0;
	margin: 0;
  }
  #fh5co-offcanvas ul li {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  #fh5co-offcanvas ul li > ul {
	padding-left: 20px;
	display: none;
  }
  #fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
	display: block;
	position: relative;
  }
  #fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
	position: absolute;
	right: 0px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\ea1c";
	font-size: 20px;
	color: rgba(255, 255, 255, 0.2);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
  }
  #fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
  }
  
  .uppercase {
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
  }
  
  .gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0.1;
	visibility: hidden;
	-webkit-transition: 0.9s;
	-o-transition: 0.12s;
	transition: 0.12s;
  }
  .gototop.active {
	opacity: 1;
	visibility: visible;
  }
  .gototop a {
	width: 50px;
	height: 50px;
	display: table;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
  }
  .gototop a i {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
  }
  .gototop a:hover, .gototop a:active, .gototop a:focus {
	text-decoration: none;
	outline: none;
  }
  .fh5co-nav {
	position: fixed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #303030; 
	opacity: 0.9;
	padding: -30px 0px;*/
  }
  .fh5co-nav-toggle {
	width: 25px;
	height: 25px;
	cursor: pointer;
	text-decoration: none;
  }
  .fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
	background: #444;
  }
  .fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
	outline: none;
	border-bottom: none !important;
  }
  .fh5co-nav-toggle i {
	position: fixed;
	display: inline-block;
	width: 25px;
	height: 2px;
	color: #000;
	font: bold 14px/.4 Helvetica;
	/*text-transform: uppercase;*/
	text-indent: -55px;
	background: #252525;
	/*transition: all .2s ease-out;*/
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
	content: '';
	width: 25px;
	height: 2px;
	background: #252525;
	position: absolute;
	left: 0;
	transition: all .2s ease-out;
  }
  .fh5co-nav-toggle.fh5co-nav-white > i {
	color: #fff;
	background: #000;
  }
  .fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
	background: #000;
  }
  .fh5co-nav-toggle.fh5co-nav-white.active > i {
	color: #fff;
	background: #000;
  }
  .fh5co-nav-toggle.fh5co-nav-white.active > i::before, .fh5co-nav-toggle.fh5co-nav-white.active > i::after {
	background: #fff;
  }
  
  .fh5co-nav-toggle i::before {
	top: -7px;
  }
  
  .fh5co-nav-toggle i::after {
	bottom: -7px;
  }
  
  .fh5co-nav-toggle:hover i::before {
	top: -10px;
  }
  
  .fh5co-nav-toggle:hover i::after {
	bottom: -10px;
  }
  
  .fh5co-nav-toggle.active i {
	background: transparent;
  }
  
  .fh5co-nav-toggle.active i::before {
	top: 0;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
  }
  
  .fh5co-nav-toggle.active i::after {
	bottom: 0;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
  }
  
  .fh5co-nav-toggle {
	position: absolute;
	right: 0px;
	top: 40px;
	z-index: 21;
	padding: 6px 0 0 0;
	margin: 0px 20px 0px 0px;
	display: block;
	margin: 0 auto;
	display: none;
	height: 44px;
	width: 54px;
	z-index: 2001;
	border-bottom: none !important;
  }
  @media screen and (max-width: 768px) {
	.fh5co-nav-toggle {
	  display: block;
	}
  }
  
  .btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;*/
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 20px;
  }
  .btn.btn-md {
	padding: 8px 20px !important;
  }
  .btn.btn-lg {
	padding: 18px 36px !important;
  }
  .btn:hover, .btn:active, .btn:focus {
	box-shadow: none !important;
	outline: none !important;
  }
  
  .btn-primary {
	background: #303030;
	color: #fff;
	/*border-radius: 0.5px solid #8f7e54;*/
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background: #8f7e54!important;
	border-color: #8f7e54 !important;
  }
  .btn-primary.btn-outline {
	background: transparent;
	color: #8f7e54;
	/*border: 2px solid #2D6CDF;*/
  }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
	background: #8f7e54;
	color: #fff;
  }
  
  .btn-success {
	background: #5cb85c;
	color: #fff;
	/*border: 2px solid #5cb85c;*/
  }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
	background: #4cae4c !important;
	border-color: #4cae4c !important;
  }
  .btn-success.btn-outline {
	background: transparent;
	color: #5cb85c;
	/*border: 2px solid #5cb85c;*/
  }
  .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
	background: #5cb85c;
	color: #fff;
  }
  
  .btn-info {
	background: #5bc0de;
	color: #fff;
	/*border: 2px solid #5bc0de;*/
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
	background: #8f7e54 !important;
	/*border-color: #8f7e54 !important;*/
  }
  .btn-info.btn-outline {
	background: transparent;
	color: #5bc0de;
	/*border: 2px solid #5bc0de;*/
  }
  .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
	background: #5bc0de;
	color: #fff;
  }
  
  .btn-warning {
	background: #f0ad4e;
	color: #fff;
	/*border: 2px solid #f0ad4e;*/
  }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	background: #eea236 !important;
	border-color: #eea236 !important;
  }
  .btn-warning.btn-outline {
	background: transparent;
	color: #f0ad4e;
	/*border: 2px solid #f0ad4e;*/
  }
  .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
	background: #f0ad4e;
	color: #fff;
  }
  
  .btn-danger {
	background: #d9534f;
	color: #fff;
	border: 2px solid #d9534f;
  }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
	background: #d43f3a !important;
	border-color: #d43f3a !important;
  }
  .btn-danger.btn-outline {
	background: transparent;
	color: #d9534f;
	border: 2px solid #d9534f;
  }
  .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
	background: #d9534f;
	color: #fff;
  }
  
  .btn-outline {
	background: none;
	border: 2px solid gray;
	font-size: 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	box-shadow: none;
  }
  
  .btn.with-arrow {
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
  }
  .btn.with-arrow i {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -8px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
  }
  .btn.with-arrow:hover {
	padding-right: 50px;
  }
  .btn.with-arrow:hover i {
	color: #fff;
	right: 18px;
	visibility: visible;
	opacity: 1;
  }
  
  .form-control {
	box-shadow: none;
	background: transparent;
	/*border: #fff 2px solid;*/
	height: 54px;
	font-size: 14px;
	font-weight: 400;
  }
  .form-control:active, .form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #000;
  }
  
  .row-pb-md {
	padding-bottom: 4em !important;
  }
  
  .row-pb-sm {
	padding-bottom: 2em !important;
  }
  
  .fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
  }
  
  .row-padded-mb {
	margin-bottom: 3em !important;
  }
  
  .col-padded {
	margin: 0 !important;
	padding: 0 !important;
  }
  
  .js .animate-box {
	opacity: 0;
  }
  
  /*# sourceMappingURL=style.css.map */
  
